{% extends "layout.html" %} {% block body %}

  

  
  <div class="container1">
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/31 (1).jpg"><a
        href="../Images/Motivational-img/Original/31.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/32 (1).jpg"><a
        href="../Images/Motivational-img/Original/32.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/33 (1).jpg"><a
        href="../Images/Motivational-img/Original/33.jpg">Zoom image</a></div>
    <!-- <div class="box"><img src=""><a href="1.jpg">Zoom image</a></div> -->
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/1 (2).jpg"><a
        href="../Images/Motivational-img/Original/1.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/2 (1).jpg"><a
        href="../Images/Motivational-img/Original/2.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/3 (3).png"><a
        href="../Images/Motivational-img/Original/3.png">Zoom image</a></div>
    <!-- <div class="box"><img src="../Images/Motivational-img/Zoomed/4 (2).jpg"><a href="../Images/Motivational-img/Original/4.jpg">Zoom image</a></div> -->
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/34 (1).jpg"><a
        href="../Images/Motivational-img/Original/34.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/11 (1) (1).png"><a
        href="../Images/Motivational-img/Original/11.png">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/8 (1) (1).jpg"><a
        href="../Images/Motivational-img/Original/8.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/9 (1) (1).jpg"><a
        href="../Images/Motivational-img/Original/9.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/12 (1).jpg"><a
        href="../Images/Motivational-img/Original/12.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/35 (1).png"><a
        href="../Images/Motivational-img/Original/35.png">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/14 (1).jpg"><a
        href="../Images/Motivational-img/Original/14.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/15 (1).jpg"><a
        href="../Images/Motivational-img/Original/15.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/36 (1).jpg"><a
        href="../Images/Motivational-img/Original/36.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/17 (1).png"><a
        href="../Images/Motivational-img/Original/17.png">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/18 (1).jpg"><a
        href="../Images/Motivational-img/Original/18.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/19 (1).jpg"><a
        href="../Images/Motivational-img/Original/19.jpg">Zoom image</a></div>
    <!-- <div class="box"><img src="9 (1) (1).jpg"><a href="9.jpg"></a></div> -->
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/37 (1).jpg"><a
        href="../Images/Motivational-img/Original/37.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/21 (1).jpg"><a
        href="../Images/Motivational-img/Original/21.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/22 (1).jpg"><a
        href="../Images/Motivational-img/Original/22.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/23 (1).jpg"><a
        href="../Images/Motivational-img/Original/23.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/24 (1).jpg"><a
        href="../Images/Motivational-img/Original/24.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/38 (1).jpg"><a
        href="../Images/Motivational-img/Original/38.jpg">Zoom image</a></div>
    <!-- <div class="box"><img src="../Images/Motivational-img/Zoomed/26 (1).jpg"><a href="../Images/Motivational-img/Original/26.jpg">Zoom image</a></div> -->
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/27 (1).png"><a
        href="../Images/Motivational-img/Original/27.png">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/28 (1).jpg"><a
        href="../Images/Motivational-img/Original/28.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/40 (1).jpg"><a
        href="../Images/Motivational-img/Original/40.jpg">Zoom image</a></div>

    <div class="box1"><img src="../Images/Motivational-img/Zoomed/29 (1).jpg"><a
        href="../Images/Motivational-img/Original/29.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/41 (1).jpg"><a
        href="../Images/Motivational-img/Original/41.jpg">Zoom image</a></div>

    <div class="box1"><img src="../Images/Motivational-img/Zoomed/30 (1).jpg"><a
        href="../Images/Motivational-img/Original/30.jpg">Zoom image</a></div>
    <div class="box1"><img src="../Images/Motivational-img/Zoomed/39 (1).jpg"><a
        href="../Images/Motivational-img/Original/39.jpg">Zoom image</a></div>

  </div>
  {% endblock %}
