{% extends "layout.html" %} {% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div id="logo">
      <img src="{{url_for('static' , filename ='../Static/Images/home_img/Logo (2).png') }}" alt="TrackNap.com" />
    </div>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fs-5 fw-normal" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 fw-normal" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Track Your Sleep
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item fs-5 fw-normal" href="/records">Records</a>
            </li>
            <li>
              <a class="dropdown-item fs-5 fw-normal" href="/analyse">Analyse Your Sleep</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fw-normal" href="/unabletosleep">Unable To Sleep</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-decoration-underline fs-5 fw-normal" href="/boostyourself"
            aria-current="page">Boost Yourself</a>
        </li>
      </ul>

      <form class="d-flex mx-2">
        <a href="/signup" class="btn auth btn-outline-light mx-2 fs-5" tabindex="-1" role="button" aria-disabled="true">Sign
          Up</a>
        <a href="/login" class="btn auth btn-outline-light mx-2 fs-5" tabindex="-1" role="button"
          aria-disabled="true">Login</a>
        <!-- <a href="#" class="btn btn-secondary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Link</a> -->
        <!-- <button type="button" class="btn btn-outline-light mx-2">Sign Up</button>
        <button type="button" class="btn btn-outline-light mx-2">Login</button> -->
      </form>
      <form action="{{ url_for('logout') }}" method="POST">
        <input type="submit" value="Log out" class="btn auth  text-white btn-block mx-2 fs-5 btn-dark">
      </form>
    </div>
  </div>
</nav>


<div class="container1">
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/31 (1).jpg')}}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/32 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/33 (1).jpg') }}"></div>
  <!-- <div class="box"><img src=""><a href="1.jpg">Zoom image</a></div> -->
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/1 (2).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/2 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/3 (3).png') }}"></div>
  <!-- <div class="box"><img src="../Images/Motivational-img/Zoomed/4 (2).jpg"><a href="../Images/Motivational-img/Original/4.jpg">Zoom image</a></div> -->
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/34 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/11 (1) (1).png') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/8 (1) (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/9 (1) (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/12 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/35 (1).png') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/14 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/15 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/36 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/17 (1).png') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/18 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/19 (1).jpg') }}"></div>
  <!-- <div class="box"><img src="9 (1) (1).jpg"><a href="9.jpg"></a></div> -->
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/37 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/21 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/22 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/23 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/24 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/38 (1).jpg') }}"></div>
  <!-- <div class="box"><img src="../Images/Motivational-img/Zoomed/26 (1).jpg"><a href="../Images/Motivational-img/Original/26.jpg">Zoom image</a></div> -->
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/27 (1).png') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/28 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/40 (1).jpg') }}"></div>

  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/29 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/41 (1).jpg') }}"></div>

  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/30 (1).jpg') }}"></div>
  <div class="box1"><img
      src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/39 (1).jpg') }}"></div>

      <div class="box1"><img
        src="{{ url_for('static' , filename = '../Static/Images/Motivational-img/Zoomed/32 (1).jpg') }}"></div>
  
</div>
{% endblock %}