<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <!-- <link rel="stylesheet" href="../Static/CSS/boostyourself.css"> -->
    <link rel="stylesheet" href="../Static/CSS/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Benne&family=Roboto+Condensed:ital@1&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="dropdown">
        <nav>
            <div id="logo">
                <img src="Logo.png" alt="TrackNap.com">
            </div>
            <ul>
                <li><a href="sleeptracker.html" class="active">Home</a></li>
                <li><a href="Trackmysleep.html">Track my sleep <i class="fas fa-caret-square-down"></i> </a>
                    <ul>
                        <li><a href="records.html">Records</a></li>
                        <li><a href="#">Analyse your sleep</a></li>
                    </ul>
                </li>
                <li><a href="#">Unable to sleep</a></li>
                <li><a href="boostyourself.html">Boost Yourself</a></li>
            </ul>
        </nav>
        <div id="signin">
            <ul>
                <li><a href="signup.html">Sign up</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="imagecontainer">
        <div class="box"><img src="../Images/Motivational-img/Zoomed/1 (2).jpg"><a href="../Images/Motivational-img/Original/1.jpg">Zoom image</a></div>
        <!-- <div class="box"><img src=""><a href="1.jpg">Zoom image</a></div> -->
        <div class="box"><img src="../Images/Motivational-img/Zoomed/2 (1).jpg"><a href="../Images/Motivational-img/Original/2.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/3 (3).png"><a href="../Images/Motivational-img/Original/3.png">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/4 (2).jpg"><a href="../Images/Motivational-img/Original/4.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/5 (1) (1).png"><a href="../Images/Motivational-img/Original/5.png">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/11 (1) (1).png"><a href="../Images/Motivational-img/Original/11.png">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/8 (1) (1).jpg"><a href="../Images/Motivational-img/Original/8.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/9 (1) (1).jpg"><a href="../Images/Motivational-img/Original/9.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/12 (1).jpg"><a href="../Images/Motivational-img/Original/12.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/13 (1).jpg"><a href="../Images/Motivational-img/Original/13.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/14 (1).jpg"><a href="../Images/Motivational-img/Original/14.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/15 (1).jpg"><a href="../Images/Motivational-img/Original/15.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/16 (1).jpg"><a href="../Images/Motivational-img/Original/16.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/17 (1).png"><a href="../Images/Motivational-img/Original/17.png">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/18 (1).jpg"><a href="../Images/Motivational-img/Original/18.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/19 (1).jpg"><a href="../Images/Motivational-img/Original/19.jpg">Zoom image</a></div>
        <!-- <div class="box"><img src="9 (1) (1).jpg"><a href="9.jpg"></a></div> -->
        <div class="box"><img src="../Images/Motivational-img/Zoomed/20 (1).jpg"><a href="../Images/Motivational-img/Original/20.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/21 (1).jpg"><a href="../Images/Motivational-img/Original/21.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/22 (1).jpg"><a href="../Images/Motivational-img/Original/22.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/23 (1).jpg"><a href="../Images/Motivational-img/Original/23.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/24 (1).jpg"><a href="../Images/Motivational-img/Original/24.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/25 (1).jpg"><a href="../Images/Motivational-img/Original/25.jpg">Zoom image</a></div>  
        <!-- <div class="box"><img src="../Images/Motivational-img/Zoomed/26 (1).jpg"><a href="../Images/Motivational-img/Original/26.jpg">Zoom image</a></div> -->
        <div class="box"><img src="../Images/Motivational-img/Zoomed/27 (1).png"><a href="../Images/Motivational-img/Original/27.png">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/28 (1).jpg"><a href="../Images/Motivational-img/Original/28.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/29 (1).jpg"><a href="../Images/Motivational-img/Original/29.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/30 (1).jpg"><a href="../Images/Motivational-img/Original/30.jpg">Zoom image</a></div>
        <div class="box"><img src="../Images/Motivational-img/Zoomed/19 (1).jpg"><a href="../Images/Motivational-img/Original/19.jpg">Zoom image</a></div>
        
    </div>
</body>
</html>
