{% extends "layout.html" %} {% block body %}

  
  <div class="logincontainer">
    <div class="login pt-3">Login Form</div>
    <div class="mb-3 pt-2 mx-4">
    <div>
      <label for="formGroupExampleInput2" class="form-label">Email-id :-</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter your Email-id">

    </div>

    <div>
      <label for="formGroupExampleInput" class="form-label" class="login2">Password :-</label>
      <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Enter your Password">
    </div>
    <div class="container2">
      <button type="button" class="btn btn-primary btn-lg">Login</button>
    </div>
  </div>
</div>
{% endblock %}