{% extends "layout.html" %} {% block body %}
    <div class="record">
        <h2 class="text-decoration-underline pt-3">Day sleep</h2>
        <label for="appt">Enter your Bedtime:</label>
        &nbsp;
        <input type="time" id="appt" name="appt" min="00:00" max="23:59" required>
    </br>
        <!-- <small>  </small> -->
        <label for="appt">Enter your Wakeup time:</label>
        &nbsp;
        <input type="time" id="appt" name="appt" min="00:00" max="23:59" required>



        <h2 class="text-decoration-underline pt-3">Night sleep</h2>
        <label for="appt">Enter your Bedtime:</label>
        &nbsp;
        <input type="time" id="appt" name="appt" min="00:00" max="23:59" required>
  </br>
      
        <label for="appt">Enter your Wakeup time:</label>
        &nbsp;
        <input type="time" id="appt" name="appt" min="00:00" max="23:59" required>
        <i class="fas fa-plus-circle"></i>
    </div>
    {% endblock %}