{% extends "layout.html" %} {% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div id="logo">
      <img src="{{url_for('static' , filename ='../Static/Images/home_img/Logo (2).png') }}" alt="TrackNap.com" />
    </div>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fs-5 fw-normal" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active text-decoration-underline dropdown-toggle fs-5 fw-normal" href="#"
            id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Track Your Sleep
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="nav-link active text-decoration-underline dropdown-item fs-5 fw-normal" aria-current="page"
                href="/records">Records</a>
            </li>
            <li>
              <a class="dropdown-item fs-5 fw-normal" href="#">Analyse Your Sleep</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fw-normal" href="/unabletosleep">Unable To Sleep</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fw-normal" href="/boostyourself">Boost Yourself</a>
        </li>
      </ul>

      <form class="d-flex mx-2">
        <a href="/signup" class="btn auth btn-outline-light mx-2 fs-5" tabindex="-1" role="button" aria-disabled="true">Sign
          Up</a>
        <a href="/login" class="btn auth btn-outline-light mx-2 fs-5" tabindex="-1" role="button"
          aria-disabled="true">Login</a>
        <!-- <a href="#" class="btn btn-secondary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Link</a> -->
        <!-- <button type="button" class="btn btn-outline-light mx-2">Sign Up</button>
        <button type="button" class="btn btn-outline-light mx-2">Login</button> -->
      </form>
    </div>
  </div>
</nav>

<div class="record">
  <div class="left" action="/records" method="POST">

    <h2 class="text-decoration-underline pt-3">Day sleep</h2>
    <div class="time">
      <label for="appt" class="bt fs-5">Enter your Bedtime:</label>
      &nbsp;
      <input type="time" class="appt1" name="bed" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    <div class="time">
      <label for="appt" class="wt fs-5">Enter Wakeup time:</label>
      &nbsp;
      <input type="time" class="appt2" name="wake" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    </br>
    <div class="time">
      <label for="appt" class="bt fs-5">Enter your Bedtime:</label>
      &nbsp;
      <input type="time" class="appt1" name="bed" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    <div class="time">
      <label for="appt" class="wt fs-5">Enter Wakeup time:</label>
      &nbsp;
      <input type="time" class="appt2" name="wake" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    </br>
    <div class="time">
      <label for="appt" class="bt fs-5">Enter your Bedtime:</label>
      &nbsp;
      <input type="time" class="appt1" name="bed" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    <div class="time">
      <label for="appt" class="wt fs-5">Enter Wakeup time:</label>
      &nbsp;
      <input type="time" class="appt2" name="wake" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    </br>
    <div class="time">
      <label for="appt" class="bt fs-5">Enter your Bedtime:</label>
      &nbsp;
      <input type="time" class="appt1" name="bed" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    <div class="time">
      <label for="appt" class="wt fs-5">Enter Wakeup time:</label>
      &nbsp;
      <input type="time" class="appt2" name="wake" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    </br>
    <div class="time">
      <label for="appt" class="bt fs-5">Enter your Bedtime:</label>
      &nbsp;
      <input type="time" class="appt1" name="bed" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    <div class="time">
      <label for="appt" class="wt fs-5">Enter Wakeup time:</label>
      &nbsp;
      <input type="time" class="appt2" name="wake" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    </br>
    <!-- <img id="icon1" src="{{url_for('static' , filename = '../Static/Images/plus_icon.png')}}" width="105" height="57" -->
    <!-- alt="."> -->
  </div>

  <div class="right">

    <h2 class="text-decoration-underline pt-3">Night sleep</h2>
    <div class="time">
      <label for="appt" class="bt fs-5">Enter your Bedtime:</label>
      &nbsp;
      <input type="time" class="appt1" name="bedt" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    <div class="time">
      <label for="appt" class="wt fs-5">Enter Wakeup time:</label>
      &nbsp;
      <input type="time" class="appt2" name="waket" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    </br>
    <div class="time">
      <label for="appt" class="bt fs-5">Enter your Bedtime:</label>
      &nbsp;
      <input type="time" class="appt1" name="bedt" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    <div class="time">
      <label for="appt" class="wt fs-5">Enter Wakeup time:</label>
      &nbsp;
      <input type="time" class="appt2" name="waket" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    </br>
    <div class="time">
      <label for="appt" class="bt fs-5">Enter your Bedtime:</label>
      &nbsp;
      <input type="time" class="appt1" name="bedt" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    <div class="time">
      <label for="appt" class="wt fs-5">Enter Wakeup time:</label>
      &nbsp;
      <input type="time" class="appt2" name="waket" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    </br>
    <div class="time">
      <label for="appt" class="bt fs-5">Enter your Bedtime:</label>
      &nbsp;
      <input type="time" class="appt1" name="bed" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    <div class="time">
      <label for="appt" class="wt fs-5">Enter Wakeup time:</label>
      &nbsp;
      <input type="time" class="appt2" name="wake" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    </br>
    <div class="time">
      <label for="appt" class="bt fs-5">Enter your Bedtime:</label>
      &nbsp;
      <input type="time" class="appt1" name="bed" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    <div class="time">
      <label for="appt" class="wt fs-5">Enter Wakeup time:</label>
      &nbsp;
      <input type="time" class="appt2" name="wake" min="00:00" max="23:59" required>
      <button type="submit" class="btn btn-primary" class="savetime">Save</button>
    </div>
    </br>
    <!-- <img id="icon2" src="{{url_for('static' , filename = '../Static/Images/plus_icon.png')}}" width="105" height="57"
alt="."> -->

  </div>
</div>
{% endblock %}