{% extends "layout.html" %} {% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div id="logo">
      <img src="{{url_for('static' , filename ='../Static/Images/home_img/Logo (2).png') }}" alt="TrackNap.com" />
    </div>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fs-5 fw-normal" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active text-decoration-underline dropdown-toggle fs-5 fw-normal" href="#"
            id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Track Your Sleep
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="nav-link active text-decoration-underline dropdown-item fs-5 fw-normal" aria-current="page"
                href="/records">Records</a>
            </li>
            <li>
              <a class="dropdown-item fs-5 fw-normal" href="/analyse">Analyse Your Sleep</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fw-normal" href="/unabletosleep">Unable To Sleep</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 fw-normal" href="/boostyourself">Boost Yourself</a>
        </li>
      </ul>

      <form class="d-flex mx-2">
        <a href="/signup" class="btn auth btn-outline-light mx-2 fs-5" tabindex="-1" role="button" aria-disabled="true">Sign
          Up</a>
        <a href="/login" class="btn auth btn-outline-light mx-2 fs-5" tabindex="-1" role="button"
          aria-disabled="true">Login</a>
        <!-- <a href="#" class="btn btn-secondary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Link</a> -->
        <!-- <button type="button" class="btn btn-outline-light mx-2">Sign Up</button>
        <button type="button" class="btn btn-outline-light mx-2">Login</button> -->
      </form>
      <form action="{{ url_for('logout') }}" method="POST">
        <input type="submit" value="Log out" class="btn auth  text-white btn-block mx-2 fs-5 btn-dark">
      </form>
    </div>
  </div>
</nav>

<div class="record">
  <div class="track">
    
    <h2 class="text-decoration-underline pt-3">Track your nap</h2>

    <form action="{{ url_for('records') }}" method="POST">
      <div class="row mb-3 mx-1 pt-3">
        <label for="appt" class="bt px-0 fs-5">Username:</label>
        <!-- <label for="inputfirstname" class="col-sm-2 col-form-label ">User Name</label> -->
        <!-- <div class="col-sm-20"> -->
          <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        <!-- </div> -->
      </div>
      <div class="time">
        <label for="appt" class="bt pt-4 fs-5">Enter date:</label>
        &nbsp;
        <!-- <input type="time" class="appt2" name="wake1" min="00:00" max="23:59" required> -->
        <input type="date" class="form-control" id="date" name="date" placeholder="date">
        <!-- <button type="submit" class="btn btn-primary savetime">Save</button> -->
      </div>
    <div class="time">
      <label for="appt" class="bt pt-4 fs-5">Enter your Bedtime:</label>
      &nbsp;
      <input type="time" class="form-control" id="bedtime" name="bedtime" placeholder="bedtime">
      <!-- <input type="time" class="appt1" name="bed1" min="00:00" max="23:59" required> -->
      <!-- <button type="submit" class="btn btn-primary" class="savetime">Save</button> -->
    </div>
    <div class="time">
      <label for="appt" class="bt pt-4 fs-5">Enter Wakeup time:</label>
      &nbsp;
      <!-- <input type="time" class="appt2" name="wake1" min="00:00" max="23:59" required> -->
      <input type="time" class="form-control" id="wakeuptime" name="wakeuptime" placeholder="wakeuptime">
      <button type="submit" class="btn btn-primary savetime">Save</button>
    </div>
    </br>
  
</form>
</div>
<!-- <div class="right">
  
  <h2 class="text-decoration-underline pt-3">Night sleep</h2>
  <form action="{{ url_for('records') }}" method="post">
      <div class="time">
        <label for="appt" class="bt fs-5">Enter your Bedtime:</label>
        &nbsp;
        <input type="time" class="appt1" name="bedt1" min="00:00" max="23:59" required>
        <input type="submit" value="Save" class="btn text-white btn-block btn-primary">
      </div>
      <div class="time">
        <label for="appt" class="wt fs-5">Enter Wakeup time:</label>
        &nbsp;
        <input type="time" class="appt2" name="waket1" min="00:00" max="23:59" required>
        <button type="submit" class="btn btn-primary" class="savetime">Save</button>
      </div>
    </br>


  </form>
  </div> -->
</div>
{% endblock %}