{% extends "layout.html" %} {% block body %}


    <!-- <div class="dropdown">
        <nav>
            <div id="logo">
                <img src="Logo.png" alt="TrackNap.com">
            </div>
            <ul>
                <li><a href="sleeptracker.html" >Home</a></li>
                <li><a href="#">Track my sleep <i class="fas fa-caret-square-down"></i> </a>
                    <ul>
                        <li><a href="#">Records, Reminder and alarm </a></li>
                        <li><a href="#">Analyse your sleep</a></li>
                    </ul>
                </li>
                <li><a href="unabletosleep.html" class="active">Unable to sleep</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </nav>
        <div id="signin">
            <ul>
                <li><a href="signup.html">Sign up</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div> -->

    <div class="nosleepbox">
      <br />
      <div class="card box">
        <a href="yoga.html" target="_blank"
          ><img
            src="{{ url_for('static' , filename = '../Static/Images/yoga_img/1.jfif') }}"
            alt=""
          />
          <div class="card-img-overlay content">
            <h3 class="card-title">Yoga</h3>
            <p class="card-text">
              Treat your Insomnia with Yoga. Follow these six Yoga asanas and
              feel the change in your body as well as sleep.<br />
              • Uttanasana <br />
              • Halasana <br />
              • Shishuasana <br />
              • Viparita Karani <br />
              • Savasana <br />• Supta Baddha Konasana
            </p>
            <p class="card-text">For more information , click here.</p>
          </div>
        </a>
      </div>
      <br />
      <div class="card box">
        <a href="#" target="_blank">
          <img
            src="{{ url_for('static' , filename = '../Static/Images/yoga_img/15.jpg') }}"
            alt=""
          />
          <div class="card-img-overlay content">
            <h3 class="card-title">Meditation</h3>
            <p class="card-text">
              • Feeling stressed about anything? Just meditate.  <br />
              • If something is bothering you and you are unable to sleep,
              meditate for 10-15 mins and you will feel relaxed. It wull help
              you get rid of all kind of unwanted stuff out of your mind.
              <br /> • Meditation controls anxiety.<br />
               • It enhances concentration power, memory and attention span.
            </p>
            <p class="card-text">For more information , click here.</p>
          </div>
        </a>
      </div>
      <br />
      <div class="card box">
        <a href="#" target="_blank">
          <img
            src="{{ url_for('static' , filename = '../Static/Images/yoga_img/13.jfif') }}"
            alt=""
          />
          <div class="card-img-overlay content">
            <h3 class="card-title">Food and Habits</h3>
            <p class="card-text">
              • Don't drink any caffeinated beverages (like soda or iced tea)
              after about 3:00 in the afternoon. <br /> • Green, leafy
              vegetables, pumpkin seeds, bananas, avocados, beans, and nuts and
              seeds are all foods rich in magnesium, which helps muscles relax
              and induces a sleepy state. <br />  • Moderate alcohol consumption
              since it can throw off your sleep cycles even if it makes you
              sleepy at first. <br />  • Try not to have your dinner too late so
              that you aren’t still digesting at bedtime and are at less risk of
              acid reflux. Be extra careful with spicy and oily foods late in
              the evening.
            </p>
            <p class="card-text">For more information, click here.</p>
          </div>
        </a>
      </div>

      <footer class="blog-footer">
        <p>
          Blog template built for
          <a href="https://getbootstrap.com/">Bootstrap</a> by
          <a href="https://twitter.com/mdo">@mdo</a>.
        </p>
        <p>
          <a href="#">Back to top</a>
        </p>
      </footer>
    </div>
    {% endblock %}
    
