{% extends "layout.html" %} {% block body %}
<div class="nosleepbox">
    <br />
    <div class="container ">
      <div class="row">
        <div class="col">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body bg-dark " style="color: white;">
                  <h5 class="card-title">Standing Forward Bend (Uttanasana)</h5>
                  <p class="card-text">
                    This pose is performed by standing with your feet being
                    about 6 inches apart and fold the chest to the ground,
                    reaching toward the flat surface or consider bending the
                    arms and clutching opposite hand to opposed elbow. Alongside
                    facilitating to get rid of headaches and insomnia, this yoga
                    pose is also very advantageous for lowering anxiety levels.
                    While you perform the Uttanasana you must sway a little side
                    to side and inhale. Your knees must be bended as much as
                    required to lessen strain if any. Gradually the tension in
                    the hips and legs will start releasing.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body bg-dark " style="color: white;">
                  <h5 class="card-title">Plow Pose (Halasana)</h5>
                  <p class="card-text">
                    It is recommended that by staying in the plow pose for about
                    1 to 5 minutes will help in falling asleep easily. All you
                    need to do is lie down on your back and gently lift your
                    legs above your head and then to the flat surface behind
                    you. While you do so, your hands must either be on your back
                    for support or on the floor. By turning around the blood
                    flow, you bring new vivacity into the body.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body bg-dark " style="color: white;">
                  <h5 class="card-title">Child Pose (Shishuasana)</h5>
                  <p class="card-text">
                    The most calming stretch for the back, this pose also aids
                    in calming the nervous system thus facilitating you in
                    sleeping peacefully.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
          
        <div class="col">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body bg-dark " style="color: white;">
                  <h5 class="card-title">
                    Legs Up The Wall Pose (Viparita Karani)
                  </h5>
                  <p class="card-text">
                    This simple yet effective pose, that is performed against a
                    wall, incredibly offers evening relaxation and relief from
                    anxiety. For best result, it is suggested to stay in the
                    pose for as long as 5 minutes, with the eyes being shut and
                    making use of a calming eye pillow if required. The moment
                    the legs are flipped upwards, it enables the blood to rush
                    back down to the heart. This yoga pose has a calming
                    quality.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body bg-dark " style="color: white;">
                  <h5 class="card-title">Corpse Pose (Savasana)</h5>
                  <p class="card-text">
                    In this pose, you must get your body into sleep mode with a
                    humble corpse pose, concentrating the attention on the body
                    and inhalation, thus letting go off the day's worries. By
                    staying focussed on the mind and getting in consciousness,
                    you take the mind off the situation that is leading to
                    distress and anxiety, thus helping you in sleeping
                    peacefully.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body bg-dark " style="color: white;">
                  <h5 class="card-title">
                    Reclining Butterfly (Supta Baddha Konasana)
                  </h5>
                  <p class="card-text">
                    This is nothing but a variation of the basic butterfly yoga
                    posture, and can assist the body to get into rest mode. By
                    lie down flat on your back, either on your bed or on a mat,
                    you must gradually get the feet together, spreading out the
                    knees in a diamond shape. This must be followed by bringing
                    one hand to your heart and the other to your stomach. You
                    must inhale deeply observing the inhalation move in and out
                    of the body.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}